body {
  // background-color: #333;
}
// MicButton
.MicButton {

}
.outCircle1 {
  // margin-left: auto;
  // margin-right: 20px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 10px;
  background-color: #C1EBE7;
  -webkit-transition-property: background-color width; /* Safari */
  transition-property: background-color width height;
  -webkit-tansition-duration: 1s;
  transition-duration: 1s;
}
.outCircle {
  // margin-left: auto;
  // margin-right: 20px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 10px;
  background-color: #5ECFC2;
  -webkit-transition-property: background-color width; /* Safari */
  transition-property: background-color width height;
  -webkit-tansition-duration: 1.5s;
  transition-duration: 1.5s;
}
.innerCircle {
  background-color: #00B4A0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 7px 12px;
}
.innerCircle .fa-microphone {
  font-size: 25px;
  color: #FFF;
}
// chatbot panel
#payload-column {
  display: none;
}
#textInput {
  display: none;
}
.inputOutline {
  display: none;
}
.chatMini {
  // background-color: #292C33;
  width: 50px;
  background: rgb(53, 28, 117);
  color: rgb(255, 255, 255);
  padding: 50px 5px;
  font-size: 18px;
  text-align: center;
}
.CollapsePanel {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 70%;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  z-index: 900;
}
.chat-column {
  padding: 0.9375rem 0 3.625rem 0;
}
